USE [master]
GO
/****** Object:  Database [BI2425]    Script Date: 16/11/2024 00:29:14 ******/
CREATE DATABASE [BI2425]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BI2425', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BI2425.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BI2425_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BI2425_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BI2425].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BI2425]
GO
/****** Object:  Table [dbo].[2Buscounties]    Script Date: 16/11/2024 00:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[2Buscounties](
	[county] [nvarchar](50) NOT NULL,
	[county_ascii] [nvarchar](50) NOT NULL,
	[county_full] [nvarchar](50) NOT NULL,
	[county_fips] [int] NOT NULL,
	[state_id] [nvarchar](50) NOT NULL,
	[state_name] [nvarchar](50) NOT NULL,
	[lat] [float] NOT NULL,
	[lng] [float] NOT NULL,
	[population] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cleaned_aqi_2021]    Script Date: 16/11/2024 00:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cleaned_aqi_2021](
	[State_Name] [nvarchar](50) NOT NULL,
	[county_Name] [nvarchar](50) NOT NULL,
	[State_Code] [int] NOT NULL,
	[County_Code] [int] NOT NULL,
	[Date] [date] NULL,
	[AQI] [int] NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Defining_Parameter] [nvarchar](50) NOT NULL,
	[Defining_Site] [nvarchar](50) NOT NULL,
	[Number_of_Sites_Reporting] [int] NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[Last_Updated] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cleaned_aqi_2022]    Script Date: 16/11/2024 00:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cleaned_aqi_2022](
	[State_Name] [nvarchar](50) NOT NULL,
	[county_Name] [nvarchar](50) NOT NULL,
	[State_Code] [int] NOT NULL,
	[County_Code] [int] NOT NULL,
	[Date] [date] NULL,
	[AQI] [int] NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Defining_Parameter] [nvarchar](50) NOT NULL,
	[Defining_Site] [nvarchar](50) NOT NULL,
	[Number_of_Sites_Reporting] [int] NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[Last_Updated] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cleaned_aqi_2023]    Script Date: 16/11/2024 00:29:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cleaned_aqi_2023](
	[State_Name] [nvarchar](50) NOT NULL,
	[county_Name] [nvarchar](50) NOT NULL,
	[State_Code] [int] NOT NULL,
	[County_Code] [int] NOT NULL,
	[Date] [date] NULL,
	[AQI] [int] NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Defining_Parameter] [nvarchar](50) NOT NULL,
	[Defining_Site] [nvarchar](50) NOT NULL,
	[Number_of_Sites_Reporting] [int] NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[Last_Updated] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
